packages:
  yum:
    gcc-c++: []
    gcc-gfortran: []
    atlas-sse3-devel: []
    lapack-devel: []
    libpng-devel: []
    freetype-devel: []
    zlib-devel: []

commands:
  01installgcc-c++:
    command: yum -y install gcc-c++

  02installgcc-fortran:
    command: yum -y install gcc-gfortran

  03installpython:
    command: yum -y install python-devel

  04installatlas:
    command: yum -y install atlas-sse3-devel

  05installlapack:
    command: yum -y install lapack-devel

  06installlibpng:
    command: yum -y install libpng-devel

  07installfreetype:
    command: yum -y install freetype-devel

  08installzlib:
    command: yum -y install zlib-devel

container_commands:  
  AddGlobalWSGIGroupAccess: 
    command: "if ! grep -q 'WSGIApplicationGroup %{GLOBAL}' ../wsgi.conf; then echo 'WSGIApplicationGroup %{GLOBAL}' >> ../wsgi.conf; fi;"
