files:
  "/dict_bigram_FreqLog.pickle" :
    mode: "000755"
    owner: root
    group: root
    source: https://s3.amazonaws.com/keyword-stuffer/dict_bigram_FreqLog.pickle

  "/dict_trigram_FreqLog.pickle" :
    mode: "000755"
    owner: root
    group: root
    source: https://s3.amazonaws.com/keyword-stuffer/dict_trigram_FreqLog.pickle

sources:
  /: https://s3.amazonaws.com/keyword-stuffer/nltk-data.zip

container_commands:  
  AddGlobalWSGIGroupAccess: 
    command: "if ! grep -q 'WSGIApplicationGroup %{GLOBAL}' ../wsgi.conf; then echo 'WSGIApplicationGroup %{GLOBAL}' >> ../wsgi.conf; fi;"
    
